rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /posts/{postId} {
      allow create: if request.auth != null
        && request.resource.data.uid == request.auth.uid
        && request.resource.data.title is string
        && request.resource.data.caption is string
        && request.resource.data.scheduledFor is timestamp;

      allow read, update, delete: if request.auth != null && resource.data.uid == request.auth.uid;

      allow update: if request.auth != null
        && resource.data.uid == request.auth.uid
        && request.resource.data.uid == request.auth.uid;
    }
  }
}
